@use 'colors' as color;
@use 'fonts';
@use 'resets';
@use 'mixin';

$bg-mobile: url('../../img/bg-hero-mobile.svg');

header {
    background-image: $bg-mobile;
    background-color: #edfbfe
}

.nav {
    @include mixin.flex(space-between);
    margin-bottom: 6rem;

    img {
        height: 20px;
        width: auto;
    }

    a {
        @include mixin.btn(white, 120px, 30px, 14px);
        
        color: black;
    }
}

.landing {
    @include mixin.flex(center);
    flex-direction: column;
    margin-left:2rem;
    margin-right:2rem;

    h2, p {
        text-align: center;
        line-height: 1.5;
        margin-bottom: 2rem;
    }

    a {
        @include mixin.btn(color.$pink, 90%, 45px, 16px);
        color: color.$paleCyan;
        margin-bottom: 4rem;
    }
}


