@use 'colors';
@use 'fonts';
@use 'resets';
@use 'mixin';

$bg-mobile: url('../../img/bg-hero-mobile.svg');

header {
    background-image: $bg-mobile;
}

.nav {
    @include mixin.flex(space-between);
    margin-bottom: 6rem;

    img {
        height: 20px;
        width: auto;
    }

    button {
        @include mixin.btn(white);
    }
}

.landing {
    margin-left:2rem;
    margin-right:2rem;

    h2, p {
        text-align: center;
        line-height: 1.5;
        margin-bottom: 2rem;
    }
}


